:root {
  --font-primary: 'Lexend Deca', sans-serif;
  --font-secondary: 'Big Shoulders Display', cursive;
  --color-primary: hsl(0, 0%, 94.9%);
  --color-secondary: hsla(0, 0%, 100%, 0.75);
  --color-sedans: hsl(30.8, 76.5%, 51.6%);
  --color-suvs: hsl(184.2, 100%, 22.2%);
  --color-luxury: hsl(179.1, 100%, 12.7%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
}

h2 {
  font-family: var(--font-secondary);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: 20.4375rem;
  grid-template-rows: repeat(3, 27.625rem);
  border-radius: 8px;
}

.card>section {
  padding: 48px;
}

.sedans {
  border-radius: 8px 8px 0 0;
  background-color: var(--color-sedans);
}

.suvs {
  background-color: var(--color-suvs);
}

.luxury {
  border-radius: 0 0 8px 8px;
  background-color: var(--color-luxury);
}

.card>section>h2 {
  margin-top: 35px;
  margin-bottom: 25px;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: var(--color-primary);
}

.card>section>p {
  margin-bottom: 95px;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--color-secondary);
}

.card>section>a {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  padding: 11.5px 29px;
  border: 3px solid transparent;
  border-radius: 25px;
  background-color: var(--color-primary);
  cursor: pointer;
}

.card section.sedans a {
  color: var(--color-sedans);
}

.card section.suvs a {
  color: var(--color-suvs);
}

.card section.luxury a {
  color: var(--color-luxury);
}

.card>section>a:hover {
  color: var(--color-primary);
  background-color: transparent;
  border: 3px solid var(--color-primary);
  transition-property: color, background-color, border;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

@media (min-width: 1440px) {
  .card {
    grid-template-columns: repeat(3, 19.1875rem);
    grid-template-rows: 31.25rem;
  }

  .sedans {
    border-radius: 8px 0 0 8px;
  }

  .luxury {
    border-radius: 0 8px 8px 0;
  }
}